:root {
  background: #212529;
}
.links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  transform: scale(1.2, 1.2);
}

a:active {
  text-decoration: none;
  transform: scale(1.2, 1.2);
}

.symbol {
  max-width: 2vw;
}

.coin:hover {
  background: rgba(0, 0, 0, 0.4);
}

p{
  font-family:Arial, Helvetica, sans-serif;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(159, 159, 159) !important;
}

html { font-size: calc(.5em + .5vw); }
